@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Hanken+Grotesk&family=Kumbh+Sans:wght@500&family=Poppins:wght@300;400;500;600&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
a {
  color: #0000008f;
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: white;
  transition: all 300ms ease;
}
a:hover {
  color: black;
}
.nav--links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
#nav--desktop {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.navleft {
  display: flex;
  gap: 2rem;
}
.image-avatar {
  width: 40px;
  position: absolute;
  top: 1rem;
}
hr {
  right: 12%;
  left: 15%;
  position: absolute;
}
